// -----------------------------------------------------------------------------
//
//    Custom breakpoints
//
// -----------------------------------------------------------------------------
$breakpoints: (
    'm-sm': 320px,
    'm-lg': 500px,
    't-sm': 768px,
    't-lg': 992px,
    'l-sm': 1200px,
    'l-lg': 1350px,
    'd-sm': 1600px,
    'd-lg': 1900px,
    'w-sm': 2200px,
    'w-lg': 2500px
);

// -----------------------------------------------------------------------------
//
//    Media query mixin
//
// -----------------------------------------------------------------------------
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    } @else {
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}