// -----------------------------------------------------------------------------
//
//    Custom breakpoints
//
// -----------------------------------------------------------------------------
$breakpoints: (
    'm-sm': 320px,     // .m-sm
    'm-lg': 500px,     // .m-lg
    't-sm': 768px,     // .t-sm
    't-lg': 992px,     // .t-lg
    'l-sm': 1200px,    // .l-sm
    'l-lg': 1350px,    // .l-lg
    'd-sm': 1600px,   // .d-sm
    'd-lg': 1900px,   // .d-lg
    'w-sm': 2200px,      // .w-sm
    'w-lg': 2500px       // .w-lg
);

// -----------------------------------------------------------------------------
//
//    Media query mixin
//
// -----------------------------------------------------------------------------
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    } @else {
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}