form {
    padding: $pad;
    margin: $pad 0;

    @include mq('m-lg') {
        border: solid 1px $gray3;
    }
    
    @include mq('t-sm') {
        margin: $pad 0 0;
    }
}

.form-field {
    margin: 0 0 $pad;

    label {
        font-weight: 600;

        & + input, textarea {
            margin-top: 5px;
        }
    }

    input, textarea {
        border: solid 1px $gray3;
        padding: 4px;
        width: 100%;

        &:focus {
            box-shadow: 0 0 5px rgba($pink, .4);
            border-color: $pink;
        }
    }
    
    textarea {
        min-height: 130px;
    }

    .error {
        display: block;
        margin-top: 5px;
        color: $danger;
    }
}