.page-content {
    padding: $pad;
    margin-bottom: $pad;
    
    @include mq('t-sm') {
        margin-bottom: 0;
        grid: {
            column: 1 / span 6;
            row: 1 / span 1;
        }
    }
    
    @include mq('t-lg') {
        grid: {
            column: 1 / span 2;
            row: 1 / span 1;
        }
    }
}