.page-content {
    padding: $pad;
    margin-bottom: $pad;
    
    @include mq('t-sm') {
        margin-bottom: 0;
        grid: {
            column: 1 / -1;
            row: 1 / 2;
        }
    }
    
    @include mq('t-lg') {
        grid: {
            column: 1 / 3;
            row: 1 / 2;
        }
    }
}