.site-additional-content {
    display: grid;
    background-color: $gray2;
    padding: $pad;
    
    p {
        margin: $pad 0 0;

        &:first-of-type {
            margin: 0;
        }

        @include mq('t-sm') {
            margin: 0;
        }
    }

    @include mq('t-sm') {
        grid: {
            template-columns: auto;
            template-rows: repeat(3, auto);
            column-gap: $pad;
            column: 1 / span 3;
            row: 3 / span 2;
        }
        align-items: center;
    }
    
    @include mq('t-lg') {
        grid: {
            template-columns: repeat(3, 1fr);
            column-gap: $pad;
            column: 1 / span 3;
        }
    }
}