.page-related-posts {
    padding: $pad;
    margin-bottom: $pad;
    
    @include mq('t-sm') {
        margin-bottom: 0;
        grid: {
            column: 4 / -1;
            row: 2 / span 1;
        }
    }
    
    @include mq('t-lg') {
        grid: {
            column: 2 / 3;
            row: 2 / 3;
        }
    }

    nav {
        a {
            color: $blue;
            display: block;
            
            &:last-of-type {
                border-bottom: none;
            }

            &:hover {
                color: $pink;
            }
        }
        
        .navigation-link {
            border-bottom: solid 1px $gray2;
            padding: 5px 0;
        }
    }
}