@charset "UTF-8";

/* -----------------------------------------------------------------------------

    Author: GieMik8
    Description: Site2017 style
    Email: giemik8@gmail.com

----------------------------------------------------------------------------- */

// -----------------------------------------------------------------------------
//
//    Imports
//
// -----------------------------------------------------------------------------

@import '../../node_modules/normalize.css/normalize.css'; // Import from node_modules

@import 'helpers/media-queries';
@import 'helpers/mixins';

@import 'theme/settings';
@import 'theme/typography';

@import 'state/state';
@import 'state/animations';

@import 'base/base';

@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/main';

@import 'modules/form';
@import 'modules/page-additional-content';
@import 'modules/page-related-content';
@import 'modules/page-related-posts';
@import 'modules/page-sidebar';
@import 'modules/page-content';