* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

.container {
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
    padding: $pad;
}

.block {
    display: block;
}

.clr-white {
    color: $F;
}

a.clr-white:hover {
    color: $gray5;
}

.clr-black {
    color: $B;
}

.clr-dark {
    color: $gray5;
}

a {
    color: $blue;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.background-white {
    background-color: $F;
}

.no-margin {
    margin: 0;
}

.btn {
    background-color: $F;
    border: solid 1px $gray3;
    letter-spacing: 3px;
    font-weight: 500;
    padding: 7px 20px;
    cursor: pointer;

    &.btn-primary {
        background-color: $pink;
        text-transform: uppercase;
        color: $F;
        border-color: $pink;
    }

    &.btn-primary:hover {
        background-color: darken($pink, 10%);
    }
}

button, input, textarea {
    @include sans-serif;
}

.bars-btn {
    color: $F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    
    .bar {
        display: block;
        width: 30px;
        height: 1px;
        background-color: $F;
    }
}