// -----------------------------------------------------------------------------
//
//    Fonts
//
// -----------------------------------------------------------------------------

$fontsDirectory: '../fonts/';

$baseFontSize: 14px;

$h1: 48px;

$h2: 34px;

$h3: 22px;

$p: 16px;

$h4: $p;

$h5: 14px;

$h6: 12px;

// -----------------------------------------------------------------------------
//
//    Colors
//
// -----------------------------------------------------------------------------

$F: #FFF;

$B: #000;

$lightPink: #FFC2DD;

$pink: #D3135A;

$blue: #0071BC;

$gray1: #E6E6E6;

$gray2: #CCC;

$gray3: #898989;

$gray4: #666666;

$gray5: #4D4D4D;

// -----------------------------------------------------------------------------
//
//    Transitions
//
// -----------------------------------------------------------------------------

$trans: .3s;

$anim: .5s;

// -----------------------------------------------------------------------------
//
//    Other
//
// -----------------------------------------------------------------------------

$pad: 20px;