// -----------------------------------------------------------------------------
//
//    Fonts
//
// -----------------------------------------------------------------------------

$fontsDirectory: '../fonts/';

$baseFontSize: 14px;

$h1: 38px;

$h2: 31px;

$h3: 24px;

$p: 14px;

$h4: $p;

$h5: 12px;

$h6: 10px;

// -----------------------------------------------------------------------------
//
//    Colors
//
// -----------------------------------------------------------------------------

$F: #FFF;

$B: #000;

$lightPink: #FFC2DD;

$pink: #D3135A;

$blue: #0071BC;

$gray1: #E6E6E6;

$gray2: #CCC;

$gray3: #898989;

$gray4: #666666;

$gray5: #4D4D4D;

// -----------------------------------------------------------------------------
//
//    Transitions
//
// -----------------------------------------------------------------------------

$trans: .3s;

$anim: .5s;

// -----------------------------------------------------------------------------
//
//    Other
//
// -----------------------------------------------------------------------------

$pad: 20px;

$grid-columns: 20;