// -----------------------------------------------------------------------------
//
//    Font imports
//
// -----------------------------------------------------------------------------

@include font-face('Trebuchet MS', 'trebuchet-ms/Trebuchet MS', 400, normal, ttf);
@include font-face('Trebuchet MS', 'trebuchet-ms/Trebuchet MS Italic', 400, italic, ttf);
@include font-face('Trebuchet MS', 'trebuchet-ms/Trebuchet MS Bold', 700, normal, ttf);
@include font-face('Trebuchet MS', 'trebuchet-ms/Trebuchet MS Bold Italic', 700, italic, ttf);

// -----------------------------------------------------------------------------
//
//    Typography
//
// -----------------------------------------------------------------------------

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: $baseFontSize;
}

body {
    font-size: 100%;
    @include sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    @include serif;
}

p, i, a { 
    @include sans-serif;
}

p, i {
    font-weight: 300;
}


h1, h2, h3, h4, h5, h6, p, i, a {
    margin: 0;
}

h1 {
    @include fs($h1);
    line-height: $h1+2px;
    margin-bottom: 20px;
}

h2 {
    @include fs($h2);
    line-height: $h2+2px;
    margin-bottom: 15px;
}

h3 {
    @include fs($h3);
    line-height: $h3+3px;
    margin-bottom: 8px;
}

h4, p, i, a, label, input {
    @include fs($h4);
    line-height: $h4+8px;
}

p {
    & ~ & {
        margin-top: 15px;
    }
}

h5 {
    @include fs($h5);
    line-height: $h5+9px;
}

h6 {
    @include fs($h6);
    line-height: $h6+3px;
}

.serif {
    font-family: 'Time New Roman', Times, serif; 
}

.sans-serif {
    font-family: 'Trebuchet MS', sans-serif; 
}
