@for $i from 1 through 20 {
    .basis-#{$i} {
        flex-basis: #{$i * 5%};
        flex-grow: 0;
    }
}

.flex-wrap {
    flex: {
        wrap: wrap;
    }
}

.flex-nowrap {
    flex: nowrap;
}

.flex {
    display: flex;

    @at-root &-column {
        display: flex;
        flex-direction: column;
    }

    @at-root &-row {
        display: flex;
        flex-direction: row;
    }
}

.no-shrink {
    flex-shrink: 0;
}

.pull-end {
    align-self: flex-end;
}