a.clr-dark:hover,
a.clr-black:hover {
    color: $F;
}

* {
    transition: all $trans ease;
    
    &:hover {
        transition: all $trans ease;
    }
}

.no-trans {
    transition: none;

    &:hover, & *:hover {
        transition: none;
    }
}

*:focus {
    outline: none;
}

.btn {
    &.btn-primary {
        background-color: $pink;
        text-transform: uppercase;
        color: $F;
        border-color: $pink;
    }

    &.btn-primary:hover {
        background-color: darken($pink, 10%);
    }
}