@include mq('t-sm' ,'max') {
    main > .container,
    .site-additional-content {
        display: flex;
        flex-direction: column;
    }
}

@include mq('t-sm') {
    .page-content {
        margin: 0 0 $pad 0;
    }

    .page-sidebar {
        margin: 0 0 0 $pad/2;
    }

    .page-related-content {
        margin: 0 $pad/2 $pad 0;
    }

    .page-related-posts {
        margin: 0 0 $pad $pad/2;
    }

    .site-additional-content {
        margin: 0 $pad/2 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@include mq('t-lg') {
    .page-content {
        margin: 0 $pad/2 $pad 0;
    }

    .page-sidebar {
        margin: 0 0 $pad $pad/2;
    }

    .page-related-content {
        margin: 0 $pad/2 $pad 0;
    }

    .page-related-posts {
        margin: 0 $pad/2 $pad $pad/2;
    }

    .site-additional-content {
        padding-left: $pad/-2;
        padding-right: $pad/-2;
        flex-direction: row;

        @for $i from 1 through 3 {
            p:nth-of-type(#{$i}) {
                grid-column: $i;
                margin: 0 $pad/2 0 $pad/2;
            }
        }
    }
}