footer {
    background-color: $gray4;
    @extend .clr-white;
    
    & > .container {
        // display: flex;
    }

    a {
        @extend .clr-white;
    }
}

.f-top {

}

.f-bottom {
    display: flex;
}

.f-nav {
    // flex: 1 0 100%;
    margin-bottom: $pad;

    a {
        text-transform: lowercase;
        
        & + a {
            margin-left: 10px;
        }
    }
}

.f-notes {
    p {
        @extend h5;
    }
}

.f-title {
    margin-left: $pad;
}