header {
    background-color: $pink;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    @include mq('t-sm') {
        height: $headerHeight;
        position: absolute;
    }

    & > .container {
        height: 100%;
        display: flex;
        padding: $pad/2 $pad;

        @include mq('t-sm') {
            padding: $pad;
        }
    }

    &.sticky > .container {
        padding: $pad/2 $pad;

        @include mq('t-sm') {
            padding: $pad;
        }
    }

    &.sticky {
        
        @include mq('t-sm') {
            animation: header $trans ease-out forwards;
            position: fixed;
            // width: 100%;
            top: 0;
            left: 0;
            right: 0;
            height: auto;
        }

        .h-nav-secondary {
            display: none;  
        }

        .site-title {
            @extend h3;
            margin: 0;
            @include sans-serif;
        }

        .h-nav {
            justify-content: center;
        }
    }
}

.h-title {
    flex: 2 0 auto;
    color: $lightPink;
    display: flex;
    align-items: flex-end;
}

.site-title {
    font-size: $h3;    
    margin-bottom: 0;
    @extend .sans-serif;
    line-height: 27px;
    
    @include mq('t-sm') {
        line-height: 45px;
        font-size: 60px;    
    }
}

.mobile-menu-open .h-nav {
    display: block;
    padding: 40px;
    overflow: auto;

    .h-nav-primary {
        display: block;
        margin: $pad 0;

        .h-nav-item {
            margin: 40px 0;

            a { 
                font-weight: 600;
                font-size: $h2;
            }

        }

        .h-nav-dropdown {
            display: block !important;
            width: 100%;
            left: 0;
            position: relative;
    
            &:before {
                display: none;
            }
    
            a {
                background-color: transparent;
                font-size: $h3;
                text-align: right;
                margin: 10px 0;
                color: rgba($F, .8);
                font-weight: 400;
            }
        }
    }

    .h-nav-secondary {
        display: flex;
        // justify-content: space-around;
        flex-direction: column;

        .h-nav-item {
            margin: 10px 0;
            
            a {
                font-size: $h3;
                margin: 10px 0;
                color: $F;
            }
        }
    }
}

.h-nav {
    flex: 3 0 auto;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    text-align: right;

    @include mq('t-sm', 'max') {
        position: fixed;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $pink;
    }

    @include mq('t-sm') {
        display: flex;
    }

    &-item {
        text-transform: lowercase;
        position: relative;
    }

    &-item + &-item {
        margin-left: $pad;
    }

    @at-root &-primary {
        display: flex;
        justify-content: flex-end;
        
        a {
            @extend .clr-white;
            font-size: 20px;
            @include sans-serif;
        }
    }
    
    @at-root &-secondary {
        display: flex;
        justify-content: flex-end;
        
        a {
            @extend .clr-dark;
            @extend h4;
            @include sans-serif;
        }
    }

    @at-root &-dropdown {
        position: absolute;
        top: 100%;
        padding-top: 20px;
        width: 150px;
        text-align: left;
        left: -30px;
        animation: dropdown .2s ease-out forwards;
        display: none;

        .open & {
            display: block;
        }

        &:before {
            @include css-triangle($gray5, up, $size: 14px, $position: absolute, $round: false);
            top: 6px;
            left: calc(50% - 14px);
        }

        a {
            background-color: $gray5;
            text-transform: none;
            padding: 5px;
            display: block;
            font-size: $h5;
        }

        a:hover {
            background-color: $gray4;
            color: $F;
        }
    }
}

.h-toggle {
    display: flex;
    align-items: center;

    @include mq('t-sm') {
        display: none;
    }
}