header {
    background-color: $pink;
    height: 117px;
    
    & > .container {
        height: 100%;
        display: flex;
    }
}

.h-title {
    flex: 2 0 auto;
    color: $lightPink;
    display: flex;
    align-items: flex-end;
}

.site-title {
    font-size: 60px;
    margin-bottom: 0;
    @extend .sans-serif;
    line-height: 45px;
}

.h-nav {
    flex: 3 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: right;

    a {
        text-transform: lowercase;

        & + a {
            margin-left: 10px;
        }
    }

    @at-root &-primary {
        // margin: $pad 0;

        a {
            @extend .clr-white;
            font-size: 20px;
            @include sans-serif;
        }
    }
    
    @at-root &-secondary {
        // margin: $pad 0;
        
        a {
            @extend .clr-dark;
            @extend h4;
            @include sans-serif;
        }
    }
}